*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    text-decoration:none;
    list-style:none;
}
body{
    font-family:arial;
}
nav{
    background:#0082e6;
    height:80px;
    width:100%;
}
label.logo{
    color:white;
    font-size:35px;
    line-height:80px;
    padding:0 100px;
    font-weight:bold;
    animate-right:-300px to 0px;
}
nav ul{
    float:right;
    margin-right:20px;
    margin-top:-75px
}
nav ul li{
    display:inline-block;
    line-height:80px;
    margin:0 5px;
}
nav ul li a{
    color:white;
    font-size:17px;
    text-transform:uppercase;
    font-weight:600;
    padding:7px 13px;
    border-radius:4px;
}
a:hover{
    background:#1b9bff;
    transition:.5s;
}