*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
.container{
    height: 100vh;
    width: 100vw;
    background-color: rgb(92, 170, 238); 
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    grid-gap: 10px;
    grid-template-rows: 200px ;

}
.box{
    background: cadetblue;
}